name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: clippy, rustfmt
      - name: Install wasm-pack
        run: make install
      - name: Format
        run: |
          make format
          git diff --exit-code
      - name: Lint
        run: make lint
      - name: Build
        run: make build
      - name: Run tests
        run: make test
      - name: Generate coverage
        run: make coverage
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: target/llvm-cov/html
